{% extends "base.html" %}
<!-- title -->
{% block title %}TMD Entrance Page{% endblock %}
<!--  -->

<!-- style  -->
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='first.css') }}" />
{% endblock %}
<!--  -->

<!--  -->
{% block content %}
<!-- start code here -->
<body>
  <div class="banner">
    <div class="advertisement">
      <div class="image-container">
        <img
          src="{{ url_for('static', filename='img/sample_pic.jpg') }}"
          alt="School Entrance"
        />
      </div>
      <div class="content">
        <h1>Welcome to Our School's Entrance!</h1>
        <p>Unlock a world of knowledge and endless possibilities.</p>
        <a href="/entrance">
          <button class="cta-button"><span></span>Go to entrance</button>
        </a>
      </div>
    </div>
  </div>
</body>
{% endblock %}
